/target/

# Ignore Eclipse project settings
.project
.classpath
.settings/



# Ignore log files
*.log


# ignore build files
target/*
bin/


# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore specific files/folders
testData/
extentReports/
logs/

# ignore all files inside the "reports" folder
reports/*

