<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber BDD Suite" parallel="tests" thread-count="2">
    
    <listeners>
        <listener class-name="org.testng.reporters.SuiteHTMLReporter"/>
    </listeners>
    
    <test name="Feature Scenarios Execution" parallel="methods" thread-count="5">
        <classes>
            <class name="runner.TestRunner"/>
            
            </classes>
    </test>
    <build>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-plugin</artifactId>
                <version>3.2.5</version>
                <configuration>
                    <suiteXmlFiles>
                        <suiteXmlFile>testng.xml</suiteXmlFile>
                    </suiteXmlFiles>
                </configuration>
            </plugin>
        </plugins>

    
</suite>